*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
font-family: 'Source Sans Pro', sans-serif; NAME FONT
font-family: 'Source Sans Pro', sans-serif; front end font
*/
